.topbox {
    height: 100px;
    background-color: red;
    width: auto;
    margin-top: 10px;
    margin-left: 200px;
    padding-left: 10px;
    overflow: hidden;
    z-index: 1;
}

.addbutton {
    margin: 10px
}

.itembox {
    margin-top: 10px;
    margin-left: 200px;
    height: auto;
    padding-left: 20px;
    max-height: 575px;
    width: 82.5%;
    background-color: white;
    /* overflow: auto; */
    position: fixed;
   
}
h2{
    position:  sticky;
}

/* table {
    padding-top: 50px;
    width: 90%;
    
    
    border-style: solid;
    border-width: 2px;
    border-color: #c45f5f;
} */

th,
td {
    text-align: left;
   padding: 10px;
   /* font-size: medium; */
    /* border-style: solid; */
}

tr:nth-child(even) {
    background-color: #d80808;
}

.modal {
    position: absolute;
    justify-content: center;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #c4b174;
    width: 40%;
    /* overflow: hidden; */
    /* z-index: 0.1; */
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    width: 80%;
    min-height: 80%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
  
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.inputtext {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    height: auto;
    width: 50%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;

}
.editbox{
    height: 30px;
    width: 20%;
    color: white;
    background-color: #51cc4a;
    border: 2px solid black;
    /* display: none; */
}
.editbox2{
    display: none;
}
.addbox{
    height: 30px;
    width: 20%;
    color: white;
    background-color: #526cb6;
    border: 2px solid black;
    /* display: none; */
}

.addbox2{
    display: none;
}
.deletebox{
    height: 30px;
    width: 20%;
    color: white;
    background-color: #526cb6;
    border: 2px solid black;
    /* display: none; */
}
.deletebox2 {
    display: none;
}
.pageitem {
   
    
    /*  */
}

.pagination{
    display: flex;
    flex-wrap: wrap;
    /* display: inline; */
    /*  */
    list-style: none;
    padding: 8px 16px;
   
    /* border: 2px solid black; */
}

.page_link{
    /* display: inline-block; */
 
    /* background: #ea3a53; */
    border: 1px solid blue;
    margin: 2px;
    padding: 5px
}
.page_linkactive {
    background: #79a177;
}
.page_link:hover{
    background: #79a177;
    cursor: pointer;
}
.itemname:hover{
    cursor: pointer;
    /* background: #79a177; */
}

/* table {
  /* border-collapse: collapse;
  position: relative; */
/* width: 80%; */
/* margin-left: 200px; */



/* } */