.topnav {
    background-color: #679b87;
    /* overflow: hidden; */

    height: 100px;
  }
  .div1 {
    /* background-color: darkblue; */
  background: darkcyan;
  height: 100px;
  background-image: none;
  }
 
  
  
  